<link rel="stylesheet" type="text/css" href="/static/style/css.css">
<div class="banner2">
	<div class="banner-bd"><img src="/static/images/banner_about.jpg"></div>
	<div class="banner-hd">
		<div class="wrap clearfix">
			<div class="colPicTit">
				<h2>关于澳邦物流</h2>
				<p>ABOUT AUS</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="miniPhone miniPhone-tab-hd mth3">
		<ul class="clearfix">
			<li class="on"><em>澳邦物流发展</em></li>
			<li><em>澳邦物流责任</em></li>
			<li><em>澳邦物流全球</em></li>
		</ul>
	</div>
	<div class="miniPhone miniPhone-tab-bd">
		<div class="mtb-list">
			<!-- <div class="bannerpic"><img src="https://www.everfast.com.au/themes/zh-cn/images/mini_about_pic_01.jpg" /></div> -->
			<div class="atAni1">
				<div class="circle1">
					<i class="i1"></i>
					<i class="i2"></i>
					<i class="i3"></i>
				</div>
				<div class="circle2">
					<i class="i1"></i>
				</div>
			</div>
			<div class="article">
				<p>
					<span style="font-size:12px;">澳邦物流全球快递是一家国际性的集团公司，其旗下产品服务多样化，在快递、空运与海运、陆路运输、合同物流解决方案及国际邮件递送领域提供专业化的服务.
						通过覆盖全球220多个国家和地区的120,000多个目的地 (主要城市) 的运输网络，我们为企业和个人客户提供快递派送和上门取件服务。不论是文件还是包裹，澳邦物流快递都能满足您的需求。</span></p>
				<p>
					<span style="font-size:12px;"><br>
					</span></p>
				<p>
					<span style="font-size:12px;">澳邦物流全球快递之所以能在竞争激烈的物流市场中占有一席之地，主要是得益于其完善的客服系统和极具竞争力的市场价格。在营销方面公司主要瞄准中小型企业，到2009年底，已有超过1000多家澳洲企业直接或间接成为我们的客户，在2011年公司又针对澳洲的民用市场推出了连锁性的全澳首家华人邮局，为广大的海外华人提供最贴心的服务。</span></p>
				<p>
					<span style="font-size:12px;"><br>
					</span></p>
			</div>
		</div>
		<div class="mtb-list" style="display: none;">
			<!-- <div class="bannerpic"><img src="https://www.everfast.com.au/themes/zh-cn/images/mini_about_pic_02.jpg" /></div> -->
			<div class="atAni2">
				<div class="circle1">
					<span>
						<i class="i1"></i>
						<i class="i2"></i>
					</span>
				</div>
				<div class="bg1">

				</div>
			</div>
			<div class="article">
				<p>
					澳邦物流的企业责任是我们的企业战略的核心要素。</p>
				<p> 
				</p>
				<p>
					责任是一种与生俱来的使命，它伴随着每一个生命的始终。我们时刻都要履行自己的责任，对家庭、对工作、对生命的责任。如果说智慧和能力如金子一样珍贵的话，那么还有一样东西更为可贵，那就是担当责任的精神。</p>
				<p> 
				</p>
				<p>
					责任是每个企业的文化之源。企业要想成就百年基业，责任必须贯穿始终。澳邦国际公司把 “责任”贯穿于员工的全部行动，使每个人坚信和践行 “在人际交往中永远保持诚信的品德，永远具有强烈的责任意识” 的价值观念。</p>
				<p> 
				</p>
				<p>
					许多成功的企业告诉了我们：企业要发展，责任应成为每位员工树立的理念和价值观，应是员工的第一行为准则。作为公司负责行事，意味着我们对待员工、环境、社会利益以及信任我们的客户负责任。只有这样才能实现长期的成功。</p>
			</div>
		</div>
		<div class="mtb-list" style="display: none;">
			<!-- <div class="bannerpic"><img src="https://www.everfast.com.au/themes/zh-cn/images/mini_about_pic_03.jpg" /></div> -->
			<div class="atAni3">
				<div class="bg2">

				</div>
				<div class="bg1">
					<i class="i1"></i>
					<i class="i2"></i>
				</div>
			</div>
			<div class="article">
				<p>
					进入21世纪以来，全球企业面临种种挑战。它们不仅需要控制或降低成本，灵活应对瞬息万变的消费者需求，还得考虑给环境造成的影响。</p>
				<p> 
				</p>
				<p>
					要充分利用当今全球市场，您需要一个全球物流解决方案合作伙伴，它必须业务遍布全球且能以最简单、最有效的方式将您的文件和包裹直接运送至客户手中，作为全球的合同物流服务商，澳邦物流供应链专注于:</p>
				<p> 
				</p>
				<p>
					提供一系列贯穿供应链始终的行业特定解决方案,从计划、采购、仓储、网络规划、配送直至售后，不论您的业务需求多么苛刻，作为我们的客户，我们可以为您提供适用于任何行业、任何环境的完美解决方案。</p>
			</div>
		</div>
	</div>
	<div class="about about-about" id="development">
		<div class="wrap">
			<div class="bd">
				<div class="article articleSplit clearfix" data="140">
					<div class="pro-left pro-pic">
						<div class="atAni1">
							<div class="circle1">
								<i class="i1"></i>
								<i class="i2"></i>
								<i class="i3"></i>
							</div>
							<div class="circle2">
								<i class="i1"></i>
							</div>
						</div>
					</div>
					<div class="pro-right pro-txt">
						<div class="hd4 clearfix">
							<h2 class="clearfix"><span>澳邦物流发展</span></h2>
							<p>THE DEVELOPMENT OF AUS</p>
						</div>
						<p>
							<span style="font-size:12px;">澳邦物流全球快递是一家国际性的集团公司，其旗下产品服务多样化，在快递、空运与海运、陆路运输、合同物流解决方案及国际邮件递送领域提供专业化的服务.
								通过覆盖全球220多个国家和地区的120,000多个目的地 (主要城市) 的运输网络，我们为企业和个人客户提供快递派送和上门取件服务。不论是文件还是包裹，澳邦物流快递都能满足您的需求。</span></p>
						<p>
							<span style="font-size:12px;"><br>
							</span></p>
						<p>
							<span style="font-size:12px;">澳邦物流全球快递之所以能在竞争激烈的物流市场中占有一席之地，主要是得益于其完善的客服系统和极具竞争力的市场价格。在营销方面公司主要瞄准中小型企业，到2009年底，已有超过1000多家澳洲企业直接或间接成为我们的客户，在2011年公司又针对澳洲的民用市场推出了连锁性的全澳首家华人邮局，为广大的海外华人提供最贴心的服务。</span></p>
						<p>
							<span style="font-size:12px;"><br>
							</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about" id="responsibility">
		<div class="wrap">
			<div class="bd">
				<div class="article clearfix">
					<div class="pro-right pro-pic">
						<div class="atAni2">
							<div class="circle1">
								<span>
									<i class="i1"></i>
									<i class="i2"></i>
								</span>
							</div>
							<div class="bg1">
								<i class="i1"></i>
							</div>
						</div>
					</div>
					<div class="pro-left pro-txt">
						<div class="hd4 clearfix">
							<h2 class="clearfix"><span>澳邦物流责任</span></h2>
							<p>AUS RESPONSIBILITY</p>
						</div>
						<p>
							澳邦物流的企业责任是我们的企业战略的核心要素。</p>
						<p> 
						</p>
						<p>
							责任是一种与生俱来的使命，它伴随着每一个生命的始终。我们时刻都要履行自己的责任，对家庭、对工作、对生命的责任。如果说智慧和能力如金子一样珍贵的话，那么还有一样东西更为可贵，那就是担当责任的精神。</p>
						<p> 
						</p>
						<p>
							责任是每个企业的文化之源。企业要想成就百年基业，责任必须贯穿始终。澳邦物流公司把 “责任”贯穿于员工的全部行动，使每个人坚信和践行 “在人际交往中永远保持诚信的品德，永远具有强烈的责任意识” 的价值观念。</p>
						<p> 
						</p>
						<p>
							许多成功的企业告诉了我们：企业要发展，责任应成为每位员工树立的理念和价值观，应是员工的第一行为准则。作为公司负责行事，意味着我们对待员工、环境、社会利益以及信任我们的客户负责任。只有这样才能实现长期的成功。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about" id="global">
		<div class="wrap">
			<div class="bd">
				<div class="article articleSplit clearfix" id="box" data="200">
					<div class="pro-left pro-pic">
						<div class="atAni3">
							<div class="bg2">
								<i class="i1"></i>
							</div>
							<div class="bg1">
								<i class="i1"></i>
								<i class="i2"></i>
							</div>
						</div>
					</div>
					<div class="pro-right pro-txt">
						<div class="hd4 clearfix">
							<h2 class="clearfix"><span>澳邦物流全球</span></h2>
							<p>AUS GLOBAL</p>
						</div>
						<p>
							进入21世纪以来，全球企业面临种种挑战。它们不仅需要控制或降低成本，灵活应对瞬息万变的消费者需求，还得考虑给环境造成的影响。</p>
						<p> 
						</p>
						<p>
							要充分利用当今全球市场，您需要一个全球物流解决方案合作伙伴，它必须业务遍布全球且能以最简单、最有效的方式将您的文件和包裹直接运送至客户手中，作为全球的合同物流服务商，澳邦物流供应链专注于:</p>
						<p> 
						</p>
						<p>
							提供一系列贯穿供应链始终的行业特定解决方案,从计划、采购、仓储、网络规划、配送直至售后，不论您的业务需求多么苛刻，作为我们的客户，我们可以为您提供适用于任何行业、任何环境的完美解决方案。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$('.container .miniPhone ul.clearfix').find('li').each(function (index) {
		console.log("click")
		var _this = $(this);
		_this.click(function () {
			_this.addClass('on').siblings().removeClass('on');
			$('.miniPhone .mtb-list').eq(index).show().siblings('.mtb-list').hide();
		});
	});
</script>