
<div class="banner2">
   <div class="banner-bd"><img src="/static/images/banner_product.jpg"></div>
   <div class="banner-hd">
      <div class="wrap clearfix">
         <div class="colPicTit">
            <h2>产品与服务</h2>
            <p>PRODUCTS AND SERVICES</p>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <div class="miniPhone miniPhone-tab-hd mth4">
      <ul class="clearfix">
         <li class="on"><em>全球快递</em></li>
         <li><em>境内快递</em></li>
         <li><em>澳中快递</em></li>
         <li><em>仓储配送</em></li>
      </ul>
   </div>
   <div class="miniPhone miniPhone-tab-bd">
      <div class="mtb-list">
         <div class="atAni4">
            <div class="bg2">
               <i class="i1"></i>
            </div>
            <div class="bg1">
               <i class="i1"></i>
               <i class="i2"></i>
            </div>
            <div class="bg3">
               <i class="i1"></i>
            </div>
         </div>
         <div class="article">
            <p> 我们是DHL全球合作伙伴</p>
            <p>  </p>
            <p>
               快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求，更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，我们的客户完全可以依赖我们的本地经验与全球网络,在供应链的每一环节均能获得超值回报。</p>
            <p>  </p>
            <p> 通过覆盖全球220多个国家和地区的120,000多个目的地(主要城市)的运输网络，我们为企业和个人客户提供快递派送和上门取件服务。不论是文件还是包裹，澳邦物流快递都能满足您的需求。</p>
            <p>  </p>
            <p> 我们可以在1-5个工作日，快递到全球220多个国家及地区;</p>
            <p> 我们可以在1-5个工作日，从全球220多个国家及地区取件回澳洲;</p>
            <p> 我们有完善的客服系统，可以24小时货物追踪，全程快件网上查询;</p>
            <p> 我们用最好的价格，为您提供优质、高效、便捷，值得信赖的全球快递服务。</p>
         </div>
      </div>
      <div class="mtb-list" style="display: none;">
         <div class="atAni5">
            <div class="bg1">
               <i class="i1"></i>
            </div>
            <div class="bg2">
               <i class="i1"></i>
               <span class="s1"></span>
            </div>
            <div class="bg3">
               <i class="i1"></i>
               <span class="s1"></span>
            </div>
         </div>
         <div class="article">
            <p> <strong>悉尼—澳洲</strong></p>
            <p>  </p>
            <p>
               快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求,通过更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，不论货物大小，我们的客户完全可以依赖我们的本地经验与全球网络，在供应链的每一环节均能获得超值回报。</p>
            <p>  </p>
            <p>
               我们可以在1-5个工作日，快递到全澳洲境内任何地;我们拥有专业的车队，提供悉尼同城上门取件，送货服务;每日超过10件包裹，提供免费上门取件服务;我们用最好的价格，为您提供优质、高效、便捷，值得信赖的境内快递服务。</p>
         </div>
      </div>
      <div class="mtb-list" style="display: none;">
         <!-- <div class="bannerpic"><img src="https://www.everfast.com.au/themes/zh-cn/images/mini_pro_pic_03.jpg" /></div> -->
         <div class="atAni6">
            <div class="bg1">
               <i class="i1"></i>
               <i class="i2"></i>
               <i class="i3"></i>
            </div>
            <div class="bg4">
               <i class="i1"></i>
            </div>
         </div>
         <div class="article">
            <p> 我们是EMS全球邮政特快专递合作伙伴</p>
            <p>  </p>
            <p>
               快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求，更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，我们的客户完全可以依赖我们的本地经验与全球网络在供应链的每一环节均能获得超值回报。</p>
            <p>  </p>
            <p> 通过覆盖国内近2000个城市的运输网络，我们为企业和个人客户提供快递与派送服务。不论货物大小，澳邦物流快递都能满足您的需求。</p>
            <p>  </p>
            <p> 我们是中国海关注册备案的快递公司;</p>
            <p> 我们提供一站式服务，在3-7个工作日快递到中国任何地方;</p>
            <p> 我们可以在1-5个工作日，从中国大部分城市免费上门取件回澳洲;</p>
            <p> 我们用最好的价格，为您提供优质、高效、便捷，值得信赖的专线快递服务。</p>
         </div>
      </div>
      <div class="mtb-list" style="display: none;">
         <!-- <div class="bannerpic"><img src="https://www.everfast.com.au/themes/zh-cn/images/mini_pro_pic_04.jpg" /></div> -->
         <div class="atAni7">
            <div class="bg1">
               <i class="i1"></i>
               <i class="i2"></i>
               <span class="s1"></span>
            </div>
            <div class="bg2">
               <i class="i1"></i>
            </div>
            <div class="bg3">
               <i class="i1"></i>
            </div>
         </div>
         <div class="article">
            <p>
               我们的物流专家凭借其全球视野、市场洞察力以及成熟专业的流程所打造的供应链解决方案，正在为全球各个行业内的企业和个人客户提供物流服务。我们在合同物流领域的专长以及广泛的行业知识确保了我们的方案设计、仓储、配送与运输服务可以帮助这些企业提高运作效率与效能，从而提升竞争力。</p>
            <p>  </p>
            <p> 提供一系列贯穿供应链始终的行业特定解决方案,从计划、采购、仓储、网络规划、配送直至售后，不论您的业务需求多么苛刻，作为我们的客户，我们可以为您提供适用于任何行业、任何环境的完美解决方案。</p>
            <p>  </p>
            <p> 我们公司拥有一流的仓库管理员，24小时的全方位保安监控，超过千万的保险额；</p>
            <p> 我们可以根据您的要求，对货物进行挑选，分装，打包，快递到全澳洲境内任何地区；</p>
            <p> 我们拥有专业的车队，提供悉尼同城上门取件，送货服务；</p>
            <p> 我们可以在1-5个工作日，快递到全澳洲境内任何地区；</p>
            <p> 我们用低廉的仓储费用，最好的服务，为您提供便捷有效率，值得信赖的仓储配送服务。</p>
         </div>
      </div>
   </div>
   <div class="about" id="global">
      <div class="wrap">
         <div class="bd">
            <div class="article clearfix">
               <div class="pro-left pro-pic">
                  <div class="atAni4">
                     <div class="bg2">
                        <i class="i1"></i>
                     </div>
                     <div class="bg1">
                        <i class="i1"></i>
                        <i class="i2"></i>
                     </div>
                     <div class="bg3">
                        <i class="i1"></i>
                     </div>
                  </div>
               </div>
               <div class="pro-right pro-txt">
                  <div class="hd4 clearfix">
                     <h2 class="clearfix"><span>全球快递</span></h2>
                     <p>GLOBAL EXPRESS</p>
                  </div>

                  <p> 我们是DHL全球合作伙伴</p>
                  <p>  </p>
                  <p>
                     快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求，更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，我们的客户完全可以依赖我们的本地经验与全球网络,在供应链的每一环节均能获得超值回报。</p>
                  <p>  </p>
                  <p> 通过覆盖全球220多个国家和地区的120,000多个目的地(主要城市)的运输网络，我们为企业和个人客户提供快递派送和上门取件服务。不论是文件还是包裹，澳邦物流快递都能满足您的需求。</p>
                  <p>  </p>
                  <p> 我们可以在1-5个工作日，快递到全球220多个国家及地区;</p>
                  <p> 我们可以在1-5个工作日，从全球220多个国家及地区取件回澳洲;</p>
                  <p> 我们有完善的客服系统，可以24小时货物追踪，全程快件网上查询;</p>
                  <p> 我们用最好的价格，为您提供优质、高效、便捷，值得信赖的全球快递服务。</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about" id="domestic">
      <div class="wrap">
         <div class="bd">
            <div class="article clearfix">
               <div class="pro-right pro-pic">
                  <div class="atAni5">
                     <div class="bg1">
                        <i class="i1"></i>
                     </div>
                     <div class="bg2">
                        <i class="i1"></i>
                        <span class="s1"></span>
                     </div>
                     <div class="bg3">
                        <i class="i1"></i>
                        <span class="s1"></span>
                     </div>
                  </div>
               </div>
               <div class="pro-left pro-txt">
                  <div class="hd4 clearfix">
                     <h2 class="clearfix"><span>境内快递</span></h2>
                     <p>DOMESTIC COURIER</p>
                  </div>
                  <p> <strong>悉尼—澳洲</strong></p>
                  <p>  </p>
                  <p>
                     快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求,通过更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，不论货物大小，我们的客户完全可以依赖我们的本地经验与全球网络，在供应链的每一环节均能获得超值回报。</p>
                  <p>  </p>
                  <p>
                     我们可以在1-5个工作日，快递到全澳洲境内任何地;我们拥有专业的车队，提供悉尼同城上门取件，送货服务;每日超过10件包裹，提供免费上门取件服务;我们用最好的价格，为您提供优质、高效、便捷，值得信赖的境内快递服务。</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about" id="australia">
      <div class="wrap">
         <div class="bd">
            <div class="article clearfix">
               <div class="pro-left pro-pic">
                  <div class="atAni6">
                     <div class="bg1">
                        <i class="i1"></i>
                        <i class="i2"></i>
                        <i class="i3"></i>
                     </div>
                     <div class="bg4">
                        <i class="i1"></i>
                     </div>
                  </div>
               </div>
               <div class="pro-right pro-txt">
                  <div class="hd4 clearfix">
                     <h2 class="clearfix"><span>澳中快递</span></h2>
                     <p>AUSTRALIA TO CHINA EXPRESS</p>
                  </div>
                  <p> 我们是EMS全球邮政特快专递合作伙伴</p>
                  <p>  </p>
                  <p>
                     快递行业为全球贸易的发展提供动力，我们专注于满足国内外客户的运输需求，更快更有效率的将客户的产品送达市场，从而提升客户的可持续竞争优势，我们的客户完全可以依赖我们的本地经验与全球网络在供应链的每一环节均能获得超值回报。</p>
                  <p>  </p>
                  <p> 通过覆盖国内近2000个城市的运输网络，我们为企业和个人客户提供快递与派送服务。不论货物大小，澳邦物流快递都能满足您的需求。</p>
                  <p>  </p>
                  <p> 我们是中国海关注册备案的快递公司;</p>
                  <p> 我们提供一站式服务，在3-7个工作日快递到中国任何地方;</p>
                  <p> 我们可以在1-5个工作日，从中国大部分城市免费上门取件回澳洲;</p>
                  <p> 我们用最好的价格，为您提供优质、高效、便捷，值得信赖的专线快递服务。</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about" id="warehousing">
      <div class="wrap">
         <div class="bd">
            <div class="article clearfix">
               <div class="pro-right pro-pic">
                  <div class="atAni7">
                     <div class="bg1">
                        <i class="i1"></i>
                        <i class="i2"></i>
                        <span class="s1"></span>
                     </div>
                     <div class="bg2">
                        <i class="i1"></i>
                     </div>
                     <div class="bg3">
                        <i class="i1"></i>
                     </div>
                  </div>
               </div>
               <div class="pro-left pro-txt">
                  <div class="hd4 clearfix">
                     <h2 class="clearfix"><span>仓储配送</span></h2>
                     <p>STORAGE AND DISTRIBUTION</p>
                  </div>
                  <p>
                     我们的物流专家凭借其全球视野、市场洞察力以及成熟专业的流程所打造的供应链解决方案，正在为全球各个行业内的企业和个人客户提供物流服务。我们在合同物流领域的专长以及广泛的行业知识确保了我们的方案设计、仓储、配送与运输服务可以帮助这些企业提高运作效率与效能，从而提升竞争力。</p>
                  <p>  </p>
                  <p> 提供一系列贯穿供应链始终的行业特定解决方案,从计划、采购、仓储、网络规划、配送直至售后，不论您的业务需求多么苛刻，作为我们的客户，我们可以为您提供适用于任何行业、任何环境的完美解决方案。</p>
                  <p>  </p>
                  <p> 我们公司拥有一流的仓库管理员，24小时的全方位保安监控，超过千万的保险额；</p>
                  <p> 我们可以根据您的要求，对货物进行挑选，分装，打包，快递到全澳洲境内任何地区；</p>
                  <p> 我们拥有专业的车队，提供悉尼同城上门取件，送货服务；</p>
                  <p> 我们可以在1-5个工作日，快递到全澳洲境内任何地区；</p>
                  <p> 我们用低廉的仓储费用，最好的服务，为您提供便捷有效率，值得信赖的仓储配送服务。</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   $('.container .miniPhone ul.clearfix').find('li').each(function (index) {
      console.log("click")
      var _this = $(this);
      _this.click(function () {
         _this.addClass('on').siblings().removeClass('on');
         $('.miniPhone .mtb-list').eq(index).show().siblings('.mtb-list').hide();
      });
   });
</script>